<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div th:if="${message}">
        <p th:text="${message}"></p>
    </div>
    <form th:action="@{/menu}" method="get">
        <div>
            <p th:text="'Digite o código: '+${senha}"></p>
            <input type="text" id="codigo" name="codigo" placeholder="Seu código" required />
        </div>
        <div>
            <label for="name">Digite seu nome:</label>
            <input type="text" id="name" name="name" placeholder="Seu nome" required />
        </div>
        <button class="btn_enviar" type="submit">Enviar</button>
    </form>
</body>
</html>